.logo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.at-only {
    color: transparent;
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
